.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding-top: 1rem;

}

.menuLink{
 
  display: flex;

  align-items: center;
  justify-content: center;
 
  text-decoration: none;
  color: var(--text-over-primary);
  background: var(--primary);
  transition: ease-in-out 0.1s;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.menuLink:hover{
  filter: brightness(80%);
}

.menuLink svg{
  width: 2.4rem;
  height: 2.4rem;
}